@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: "Roboto", sans-serif;
}

html, body
{
    width: 100%;
    height: 100%;
}

img
{
    display: block;
    object-fit: cover;
}

button, .button
{
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
    display: block;
}

.button
{
    color: #000;
    border-radius: 25px;

    text-align: center;

    padding: 13px 0;
    width: 100%;
    max-width: 250px;
}

.button.orange.filled
{
   background-color: #F47322;
   color: #fff;
}

.button.orange.oulined
{
    border: 1px solid #F47322;
    color: #fff;

    transition: background-color .3s;
}
.button.orange.oulined:hover
{
    background-color: #F47322;
}

.button.white.filled
{
    background-color: #fff;
    color: #5F5F61;

    transition: color .3s;
}

.button.white.filled:hover
{
    color: #000;
}

a
{
    text-decoration: none;
}

main
{
    width: 100%;
    flex-grow: 1;
}

.all-wrapper
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    overflow-x: hidden;
}

.container-1194
{
    max-width: calc(1194px + 40px);
    padding: 0 20px;
    margin: 0 auto;
}

#page-header
{
    padding: 10px 20px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

#page-header .logo
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#page-header .logo .logo-name
{
    margin-left: 7px;

    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
    text-transform: uppercase;
}

.search-panel
{
    background-color: rgba(238, 238, 238, 0.71);
    border-radius: 10px;

    display: flex;

    flex-grow: 1;
    max-width: 620px;
}

.search-panel input
{
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;

    padding: 13px 0 13px 20px;

    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;

    color: #57565B;
}

.search-panel #search-food
{
    padding: 0 18px;
}
.search-panel #search-food svg path
{
    transition: fill .3s;
}

.search-panel #search-food:hover svg path
{
    fill: #EC762A;
}

.right-header
{
    display: flex;
}

.login-btn
{
    background-color: #EBEBEB;
    border-radius: 50px;
    padding: 16px 29px;

    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.shopping-cart
{
    background-color: #F66A15;
    position: relative;
    padding: 13px;
    border-radius: 50%;

    margin-left: 30px;
}

.shopping-cart .goods-quantity
{
    display: block;

    position: absolute;
    right: 0;

    background-color: #FFAF19;
    
    
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;

    color: #000000;

    padding: 5px;
    border-radius: 50%;
}

.actions-slider .swiper-slide
{
    position: relative;
    min-height: 400px;

    display: flex;
    align-items: center;

    padding-left: 100px;

    overflow: hidden;
    border-radius: 20px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.actions-slider .swiper-slide::before
{
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.actions-slider .swiper-slide .slide-content
{
    max-width: 400px;
    position: relative;
}

.actions-slider .swiper-slide .action-title
{
    
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;

    color: #FFFFFF;

    margin-bottom: 15px;
}

.actions-slider .swiper-slide .action-desc
{
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    color: #FFFFFF;
}

.actions-slider__button
{
    display: block;

    margin-top: 32px;

    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;

    width: 100%;
    max-width: 245px;
}

.promo
{
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 27px 54px;
}

.promo-item
{
    position: relative;

    min-height: 380px;
    overflow: hidden;
    border-radius: 20px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.promo-item::before
{
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.promo-item__content-wrapper
{
    padding: 36px 32px 31px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.promo-item header,
.promo-item footer
{
    position: relative;
}

.promo-item header
{
    max-width: 200px;
}

.promo-item footer
{
    max-width: 235px;
}

.promo-item__title
{
    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;

    color: #fff;

    margin-bottom: 21px;
}

.promo-item__description
{
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    color: #FFFFFF;
}

.promo-item__price
{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 23px;

    color: #FFFFFF;

    margin-bottom: 8px;
}

.promo-item__delivery-terms
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    color: #FFFFFF;
}

.promo-item__button
{
    margin-top: 25px;
    font-weight: 600;
}

.ready-food-delivery
{
    margin-top: 110px;
}

.ready-food-delivery .article-title
{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;

    color: #000000;

    margin-bottom: 45px;
}

.categories-wrapper
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 32px;
}

.ready-food__category-item
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}